  body {
 font-family: Arial;
 color: SlateGray;

 background-image: url("https://previews.123rf.com/images/olgashibut/olgashibut2004/olgashibut200400099/145556931-eco-vector-seamless-pattern-ecological-wallpaper-for-earth-day-illustration-of-the-line-icon-on-a-li.jpg");
 background-size: cover;

}

body: :before{
  content: "";
  
  background-size: cover;
  background-position: center center;
 
}

#container{
    background: rgba(0, 0,0, 0.75);
    padding: 2rem;
    width: 75%;
    margin: auto;
    margin-top: 55px;margin-bottom: 55px;
}

h1 {
 color: burlywood;
 text-align:center;
 font-size: 300%;
 font-weight: 200;
 text-decoration: underline dotted;
}
#heading-text{
  
  color: ghostwhite;
  font-family: Arial;
  font-size: 150%;

  
}
#hr-heading{
background:white;
width:75%;
height:4px
border-radius:45px;
}

#image {
 width:90%;
 height:auto;
 padding:auto;
}

.img-text-container{
padding:8px;
margin:15px auto;
}
#img-left {
 float:left;
 width:35%;
 height:7%;
 padding:10px 10px 10px 50px;
}
.text-col{
font-size: 95%;
text-align:justify;
/*padding:5px 0px 30px 575px;*/
padding:0px 0px 35px 400px;

}

#hr{
height:5px;
border-radius:185px;
background:linear-gradient(to right, red, yellow, green);
margin: 25px;
}

#column1{
  float: right;
  width: 30%; 
  padding: 30px 25px 20px 350px;
}
#column2{
  float: left;
  width: 30%; 
  padding: 35px 70px 20px 350px;
}

iframe{
 width:30%;
 height:20%;
}
#video1{
  padding: 20px 25px ;
  
}
#icon-img{
font-size: 150%;
}

h2 {
 text-align: center;
 color: gold;
 text-transform: uppercase;
 font-weight: 150;
 font-size: 180%;
}
#ecobrick_vision{ color:YELLOW;
 font-weight: 150;
 font-size: 180%;
 text-align:center;}
#intro-head{
    margin-top:150 px;
    color:white;
    text-align:center;
}
#icon-img{color:gold;}
 .intro{
  color: black;
}


li{
  color: green;

  font-size: 150%;
  font-weight: 115;
  text-align: justify;
  text-justify: inter-word;
}

p{
 color: #FFFFFF;
 font-weight: 125;
 font-size: 160%;
 
}
#justify-text{
  text-align: center;
}

p0{
 color: #000000;
 font-weight: 125;
 font-size: 160%;
 justify-content:center;
}


footer {
 margin-top: 50px;
 background-color: orange;
 color: White;
}

footer p {
 text-align: center;
 padding-top: 20px;
 padding-bottom: 20px;
}



@media screen and (max-width: 768px) {
 #container {
  width: 90%;
 }

 h1 {
  font-size: 150%;
 }
}
@media only screen   
and (min-width: 768px)  
and (max-width: 1605px) 
{ .text-col{
font-size: 95%;
text-align:justify;
padding:0px 0px 35px 400px;
}
}
@media only screen   
and (min-width: 1370px)  
and (max-width: 1605px) 
{ .text-col{
font-size: 95%;
text-align:justify;
padding:0px 0px 35px 525px;
}
@media only screen   
and (min-width: 1570px)  
and (max-width: 1605px) 
{ .text-col{
font-size: 95%;
text-align:justify;
padding:0px 0px 35px 625px;
}
}