 body {
 font-family: Arial;
 color: SlateGray;

 background-image: url("https://media.istockphoto.com/photos/fijian-family-playing-on-the-beach-picture-id157602978?b=1&k=20&m=157602978&s=170667a&w=0&h=0Y2Se9HOWrwX8YOxHlaNjUyZHkkB2pGw8AuIXBUFogI=");
 background-size: cover;

}

body: :before{
  content: "";
  
  background-size: cover;
  background-position: center center;
 
}

#container{
    background: rgba(170, 187, 97, 0.80);
    padding: 2rem;
    width: 60%;
    margin: auto;
    margin-top: 55px;margin-bottom: 55px;
}

h1 {
 color:blue;
 text-align:center;
 font-size: 300%;
 font-weight: 200;
}

img {
 width:80%;
 height: 100%;
 padding:10px 100px ;
}

#column1{
  float: left;
  width: 30%; 
  padding: 20px 25px 20px 250px;
}
#column2{
  float: left;
  width: 30%; 
  padding: 20px 40px 20px 25px;
}




h2 {
 color: blueviolet;
 text-transform: uppercase;
 font-weight: 150;
 font-size: 180%;
}
#intro-head{
    margin-top:150 px;
    color:white;
}
#icon-img{color:gold;}
.intro{
  color: black;


}


li{
  color: green;

  font-size: 150%;
  font-weight: 115;
}

p{
 color: #FFFFFF;
 font-weight: 125;
 font-size: 160%;
}



footer {
 margin-top: 70px;
 background-color: orange;
 color: White;
}

footer p {
 text-align: center;
 padding-top: 15px;
 padding-bottom: 15px;
}



@media screen and (max-width: 768px) {

 #container {
  width: 90%;
 }

 h1 {
  font-size: 200%;
 }

}