 body {
 font-family: Arial;
 color: SlateGray;
 color: black;
 background-image: url("https://tse3.mm.bing.net/th?id=OIP.QRscPHPJdT-MySnzUjNmFQHaE6&pid=Api&P=0&w=242&h=161");
 background-size: cover;
 background-position: center center;
 
}

body: :before{
  content: "";
  
  background-size: cover;
  background-position: center center;
 
}

#container{
    background: rgba(170, 187, 97, 0.88);
    padding: 2rem;
}

h1 {
 color:orange;
 text-align:center;
 font-size: 300%;
 font-weight: 200;
}

img {
 width:80%;
 height: 100%;
 padding:10px 100px ;
}

#column1{
  float: left;
  width: 30%; 
  padding: 20px 25px 20px 250px;
}
#column2{
  float: left;
  width: 30%; 
  padding: 20px 40px 20px 25px;
}




h2 {
 color: blueviolet;
 text-transform: uppercase;
 font-weight: 150;
 font-size: 180%;
}
li{
  color: #080808;
  font-weight: 150;
  font-size: 140%;
  font-weight: 110;
}

p{
 color: #FFFFFF;
 font-weight: 125;
 font-size: 160%;
}



footer {
 margin-top: 70px;
 background-color: orange;
 color: White;
}

footer p {
 text-align: center;
 padding-top: 15px;
 padding-bottom: 15px;
}

#container {
 width: 60%;
 margin: auto;
 margin-top: 45px;margin-bottom: 55px;
}

@media screen and (max-width: 768px) {

 #container {
  width: 90%;
 }

 h1 {
  font-size: 200%;
 }

}
