body {
 font-family: Arial;
 color: SlateGray;
 color: black;

 background-image: url(
    "Harvey house snap");
 
 background-repeat:no-repeat ;
 background-size: cover;
 background-position: center center;

}
#container{
    background-color: white;
    padding: 2rem;
}

h1 {
 text-align:center;
 font-size: 200%;
}

h2 {
 color: Orange;
 text-transform: uppercase;
 font-weight: 50;
}
h3 {
 color: Orange;
 text-transform: uppercase;
 font-weight: 100;
}

#space_above {
    margin-top: 25px;
}
#audio{
    align-content: center;
    margin-top:15px ;
    margin-bottom:10px ;
}
#video{
    width: 300px;

    margin: auto;
    padding-top: 30px;
}

p{
    margin: 10px;
    text-align: justify;
    text-justify: inter-word;
}
text_color {
    color:blue;
    font-weight: bolder;
    padding-top: 35px;
    padding-bottom: 15px;
}

img {
 width: 80%;
 height: 50%;
 border-radius:5px; */
}
video{
    width: 60%;
    height: 75%;

}
customText{
    font-style: italic;
    font-size: 16px;
    color: green;
}
#iconLink{
    width:12%;
    height:15%;
    text-align:center;
}

footer {
 margin-top: 70px;
 background-color: orange;
 color: White;
}

footer p {
 text-align: center;
 padding-top: 15px;
 padding-bottom: 15px;
}

#container {
 width:40%;
 margin: auto;
}

@media screen and (max-width: 768px) {

 #container {
  width: 80%;
 }

 h1 {
  font-size: 120%;
 }

}
