 body {
 font-family: Arial;
 color: SlateGray;
 color: black;

 background-image: url("https://wallpapercave.com/wp/dhRzfzg.jpg");
 background-repeat:no-repeat ;
 background-size: cover;
 background-position: center center;

}
#container{
    background-color: white;
    padding: 2rem;
}


h2 {
 text-align:center;
 font-size: 300%;
 color: Orange;
 text-transform: uppercase;
 font-weight: 100;
}



h3 {
 text-align:center;
 font-size: 200%;
 color: Black;
 font-weight: 100;
}
#img-heading {
 text-align:center;
 font-size: 200%;
 color: Blue;
 font-weight: 100;
}



footer {
 margin-top: 70px;
 background-color: orange;
 color: White;
}

footer p {
 text-align: center;
 padding-top: 15px;
 padding-bottom: 15px;
}

#container {
 width: 60%;
 margin: auto;
}

@media screen and (max-width: 768px) {

 #container {
  width: 90%;
 }

 h2 {
  font-size: 200%;
 }

}
