 body {
 font-family: Arial;

 color: black;

 background-image: url("https://wallpapercave.com/wp/dhRzfzg.jpg");
 background-repeat:no-repeat ;
 background-size: cover;
 background-position: center center;

}
#container{
    background: rgba(170, 187, 97, 0.85);
    padding: 2rem;
}


h2 {
 text-align:center;
 font-size: 135%;
 color: White;
 
 text-transform: uppercase;
 font-weight: 145;
}
h3 {
 text-align:center;
 font-size: 100%;
 color: Black;
 
 text-transform: uppercase;
 font-weight: 115;
}

#img-heading {
 text-align:center;
 font-size: 100%;
 color: Black;
 font-weight: 90;
}
#ques-heading {
 text-align:center;
 font-size: 100%;
 color: Black;
 font-weight: 90;
}




footer {
 margin-top: 70px;
 background-color: orange;
 color: White;
}

footer p {
 text-align: center;
 padding-top: 15px;
 padding-bottom: 15px;
}

#container {
 width: 80%;
 margin: auto;
}

@media screen and (max-width: 768px) {

 #container {
  width: 90%;
 }

 h2 {
  font-size: 200%;
 }

}
